* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.img {
    width: 15%;
}

section, footer{
    width: 40%;
    margin-left: 35%;
    margin-right: 20%;

    h1 {
        font-size: 3.5rem;
    }
}

.main {
    display: flex;
}

.btn {
    display: flex;
    align-items: center;
    p {
        font-size: 0.6rem;
        padding-left: 5px;
    }
    button{
        margin-right: 10px;
        padding: 5px;
        margin-right: 10px;
    }
}

.student {
    width: 100%;
    text-align: left;
    margin-bottom: 20px;

}

.language {
    button {
        border: 0.5px solid white;
    }
}

.p1 {
    p {
        font-size: 0.8rem;
        margin-top: 20px;
    }
}
.btn-white-border {
    margin-bottom: 20px;
}
footer{
    margin-bottom: 30px;
    button{
        margin: 5px 5px;
        padding: 5px 0;
        font-size: 1.1rem;
    }
}

  
