*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.netflix{
    width: 10%;
}
.nav-item{
    a{
        font-size:0.8rem;
    }
    .nav-link:hover{
        font-weight: bold;
    }
}
.tv{
    display: flex;
    align-items: center;
    button{
        margin-left: 10px;
        font-size: 0.8rem;
    }

}
.container{
   margin-left: 0 70px;
}
.icon1{
    button{
        font-size: 0.5rem;
        border-radius: 0;
        margin: 0;   
    }
}