*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.netflix{
    width: 10%;
}
.nav-item{
    a{
        font-size:0.8rem;
    }
    .nav-link:hover{
        font-weight: bold;
    }
}
.tv{
    display: flex;
    align-items: center;
    button{
        margin-left: 10px;
        font-size: 0.8rem;
    }
}
.icon1{
    display: flex;
    justify-content: end;
    button{
        font-size: 0.5rem;
        border-radius: 0;
        margin: 0;   
    }
}

section{
    h2{
       margin-top: 30px;
       font-size: 1.8rem;
    }
}
.no-wrap-lg {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}
@media (max-width: 991.98px) { 
    .no-wrap-lg {

        flex-wrap: wrap;
        overflow-x: visible;
    }
}





